<template>
  <v-container
    class="py-0"
    fluid
    style=" max-width: 100%; background-color: rgb(28,28,30,1); overflow: hidden;"
  >
    <v-expand-transition>
      <v-row class="pa-4" v-show="isTitleDisplayed" style="background-color: rgb(45,45,45,1); ">
        <v-col lg="1" md="1" sm="1"></v-col>
        <v-col lg="10" md="10" sm="10" class="text-center">
          <v-icon dark size="60">mdi-file-outline</v-icon>
          <v-icon dark size="60">mdi-code-braces</v-icon>
          <v-icon dark size="60">mdi-clipboard-list-outline</v-icon>
        </v-col>
        <v-col lg="1" md="1" sm="1">
          <v-btn text @click="isTitleDisplayed = false">
            <v-icon dark large>mdi-close</v-icon>
          </v-btn>
        </v-col>

        <v-col lg="2" md="2" sm="2"></v-col>
        <v-col lg="8" md="8" sm="8">
          <div class="display-1 font-weight-bold text-center">Test Auto Developer Documentation</div>
        </v-col>
        <v-col lg="2" md="2" sm="2"></v-col>

        <v-col lg="2" md="2" sm="2"></v-col>
        <v-col lg="8" md="8" sm="8">
          <p
            style="white-space: pre-line"
            class="title font-weight-regular text-center"
          >{{ documentationSubTitle }}</p>
        </v-col>
      </v-row>
    </v-expand-transition>

    <v-row>
      <v-col
        class="bordered pa-0"
        lg="2"
        md="2"
        sm="2"
        style=" overflow: scroll; max-height: 100vh; background-color: #1e1e1e;"
      >
        <v-list flat>
          <v-list-group v-for="tab in DocumentationData" :key="tab.mainTab">
            <template v-slot:activator>
              <v-btn dark icon>
                <v-icon>{{ tab.mainIcon }}</v-icon>
              </v-btn>
              <v-spacer />
              <v-list-item-title class="font-weight-bold">{{ tab.mainTab }}</v-list-item-title>
            </template>

            <v-list-item
              link
              v-for="innerTab in tab.tabs"
              :key=" innerTab.name"
              @click="pageToPresent = innerTab.pageComponent"
            >
              <v-btn dark icon>
                <v-icon></v-icon>
              </v-btn>
              <v-list-item-title>{{ innerTab.name }}</v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-col>
      <v-col
        :class="{ 'pa-2' : true, 'bordered' : true , 'docPageHeightWithTitle' : isTitleDisplayed, 'docPageHeightWithoutTitle' : !isTitleDisplayed}"
        lg="8"
        md="8"
        sm="8"
        style="max-height: inherit;  overflow: auto;"
      >
        <v-container class="py-0" fluid style=" max-width: 80%; background-color: rgb(28,28,30,1);">
          <component v-bind:is="pageToPresent"></component>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
.bordered {
  border-color: rgba(255, 255, 255, 0.12);
  border-style: solid;
  border-width: 1px;
}
.docPageHeightWithTitle {
  height: calc(100vh - 48px - 284px);
}
.docPageHeightWithoutTitle {
  height: calc(100vh - 48px);
}
</style>


<script>
import UsedTechnologies from "./Pages/Technologies/UsedTechnologies";
import GettingStartedTestCases from "./Pages/GettingStarted/TestCases";
import GettingStartedInstallation from "./Pages/GettingStarted/Installation";
import APIExistingAPI from "./Pages/API/ExistingAPI";
import APIFAQ from "./Pages/API/FAQ";

export default {
  name: "DocumentationPage",
  components: {
    UsedTechnologies,
    GettingStartedTestCases,
    APIFAQ
  },
  data: () => ({
    documentationSubTitle:
      "Browse the latest developer documentation including\nAPI reference, articles, and sample code.",
    isTitleDisplayed: true,
    pageToPresent: GettingStartedInstallation,
    DocumentationData: [
      {
        mainTab: "Getting Started",
        mainIcon: "mdi-speedometer",
        tabs: [
          {
            name: "Installation",
            pageComponent: GettingStartedInstallation
          },
          {
            name: "Test Cases",
            pageComponent: GettingStartedTestCases
          }
        ]
      },
      {
        mainTab: "API",
        mainIcon: "mdi-api",
        tabs: [
          {
            name: "Existing API",
            pageComponent: APIExistingAPI
          },
          {
            name: "FAQ",
            pageComponent: APIFAQ
          }
        ]
      },
      {
        mainTab: "Technologies",
        mainIcon: "mdi-chip",
        tabs: [
          {
            name: "Used Technologies",
            pageComponent: UsedTechnologies
          }
        ]
      }
    ]
  })
};
</script>
 