<template>
  <v-container>
    <v-row align="start">
      <v-col lg="12" md="12" sm="12">
        <PageTitleSection title="API" subtitle="Automate tasks on the Test Auto website." />
      </v-col>
    </v-row>
    <v-row class="pa-2" align="start" v-for="api in apiArray" :key="api.url">
      <v-col lg="12" md="12" sm="12">
        <div
          style="display: inline-block;"
          class="title white--text font-weight-bold"
        >{{ api.title }}</div>
      </v-col>
      <v-col lg="4" md="4" sm="4">
        <div style="display: inline-block;" class="subtitle-1 white--text">{{api.description}}</div>
        <v-divider></v-divider>
      </v-col>
      <v-col lg="4" md="4" sm="4">
        <div style="display: inline-block;" class="subtitle-1 white--text">Request Body Structure</div>
        <v-divider></v-divider>
      </v-col>
      <v-col lg="4" md="4" sm="34">
        <div style="display: inline-block;" class="subtitle-1 white--text">Response Structure</div>
        <v-divider></v-divider>
      </v-col>
      <v-col lg="4" md="4" sm="4">
        <CodeField>
          <div>
            <strong>{{ api.requestType }}</strong>
            {{ ' ' + api.url }}
          </div>
        </CodeField>
      </v-col>
      <v-col lg="4" md="4" sm="4">
        <CodeField>{{ api.bodyExample }}</CodeField>
      </v-col>
      <v-col lg="4" md="4" sm="4">
        <CodeField>{{ api.responseStructure }}</CodeField>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
</style>


<script>
import CodeField from "../../PagesComponents/CodeField";
import PageTitleSection from "../../PagesComponents/PageTitleSection";
export default {
  name: "API-ExistingAPI",
  components: {
    CodeField,
    PageTitleSection
  },
  data: () => ({
    apiArray: [
      {
        title: "Test Code",
        description: "Test code with test code",
        requestType: "POST",
        url: "/",
        bodyExample: `{
    "code: String
    "language: "javascript"
    "testCode: String
    "languageVersion: String // optional
}
`,
        responseStructure: `{
        "isExecuteError": Bool,
        "testResults": [ {
                "testDescription": String,
                "result": String,
                "isTestPassed": Bool,
                "isSyntaxError": Bool
            }],
        "codeAnalysis": [{
                "startLine": Int,
                "endLine": Int,
                "description": String,
                "type": String
            }],
        "runTime": String
}`
      },
      {
        title: "Generating Code",
        description: "Generating code from test cases",
        requestType: "POST",
        url: "/testCode",
        bodyExample: `{
    "language": String,
    "testsRequests": [
        {
            "inputOfFunction": [String],
            "functionOutput": String,
            "testName": String,
            "functionName": String
        }
    ]
}
`,
        responseStructure: "String"
      },
      {
        title: "Test Code With Test Cases",
        description: "Test code, with test cases",
        requestType: "POST",
        url: "/runTests/TestCases",
        bodyExample: `{
     "language": String, // Optinal. Best Practice - Send it
     "testCases": [
         {
             "inputOfFunction": [String],
             "functionOutput": String,
             "testName": String,
             "functionName": String
         }
     ],
     "codeToTest" : String
 }
`,
        responseStructure: `{
        "isExecuteError": Bool,
        "testResults": [
            {
                "testDescription": String,
                "result": String,
                "isTestPassed": Bool,
                "isSyntaxError": Bool
            } ],
        "codeAnalysis": [{
                "startLine": Int,
                "endLine": Int,
                "description": String,
                "type": String
            } ],
        "runTime": String
}`
      },
      {
        title: "Find Code Analysis",
        description: "Get code analysis warnnings",
        requestType: "POST",
        url: "/codeAnalysis",
        bodyExample: `{
    "language": String,
     "code": String
 }`,
        responseStructure: `[
    {
        "startLine": 1,
        "endLine": 1,
        "description": " you could add a private constructor or make the class abstract to silence this warning.",
        "type": "Use Utility Class"
    }
]`
      },
      {
        title: "Language Information",
        description: "Find information about a language",
        requestType: "GET",
        url: "/info/{language}",
        bodyExample: "NONE",
        responseStructure: `{
    "language": String,
    "Included Libraries": [,
    "Already Loaded Libraries": [],
    "Load Libraries Explanation": String,
    "Load Libraries Example": String,
    "Installed Services": [],
    "Test Timeout": String,
    "Best Run Time": String
}`
      },
      {
        title: "Language Example",
        description: "Get code example with spasific language",
        requestType: "GET",
        url: "/example/{language}",
        bodyExample: "NONE",
        responseStructure: `{
    "Code": String,
    "TestCode": String
}`
      },
      {
        title: "Language Versions",
        description: "Get all possible language versions",
        requestType: "GET",
        url: "/languageVersions/:language",
        bodyExample: "NONE",
        responseStructure: "[String]"
      }
    ]
  })
};
</script>
 