<template>
  <v-container>
    <v-row>
      <v-spacer />
      <v-col lg="12" md="12" sm="12">
        <PageTitleSection title="FAQ" subtitle="Learn from the most frequently asked questions" />
      </v-col>
      <v-spacer />
    </v-row>
  </v-container>
</template>


<script>
import PageTitleSection from "../../PagesComponents/PageTitleSection";
export default {
  name: "API-FAQ",
  components: {
    PageTitleSection
  }
};
</script>
 