<template>
  <v-container>
    <v-row class="codeText white--text subtitle-1 pa-0">
      <v-col
        class="pa-1"
        :lg="isCopyButtonEnable ? 11 : 12"
        :md="isCopyButtonEnable ? 11 : 12"
        :sm="isCopyButtonEnable ? 11 : 12"
      >
        <div style="display: inline-block;" class="APIUrl">
          <span v-if="codeString != null">{{ codeString }}</span>
          <slot v-if="codeString == null"></slot>
        </div>
      </v-col>
      <v-col v-if="isCopyButtonEnable == true" class="pa-1" lg="1" md="1" sm="1">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-btn class="pa-0" text v-clipboard:copy="codeString" v-on="on">
              <v-icon class="pa-0" dark>mdi-content-copy</v-icon>
            </v-btn>
          </template>
          <span>Copy</span>
        </v-tooltip>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
.codeText {
  background: rgb(88, 88, 91);
  padding: 5px;
  border-radius: 8px;
  border: white;
  border-width: 1px;
  border-style: solid;
  white-space: pre-wrap;
}
.APIUrl {
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.3px;
}
</style>

<script>
export default {
  name: "CodeField",
  props: {
    codeString: { type: String },
    isCopyButtonEnable: { type: Boolean }
  },
  data: () => ({}),
  methods: {}
};
</script>
 