<template>
  <a :href="address" target="_blank" style="text-decoration: none;">
    {{linkText}}
    <v-icon dark small color="blue" style="padding-bottom: 2px;">mdi-open-in-new</v-icon>
  </a>
</template>

<style>
.testStyle {
  color: rgb(244, 244, 244);
  font-size: 17px !important;
}
</style>

<script>
export default {
  name: "Link",
  components: {},
  props: {
    linkText: { type: String },
    address: { type: String }
  }
};
</script>
 