<template>
  <div>
    <div v-if="subtitle != title" class="white--text pt-2 font-weight-medium MainTitle">{{ title }}</div>

    <div v-if="subtitle != null" class="font-weight-light white--text py-8 subtitle">{{ subtitle }}</div>
    <slot></slot>
    <v-divider></v-divider>
  </div>
</template>

<style>
.subtitle {
  color: rgb(244, 244, 244);
  font-size: 22px !important;
}
.MainTitle {
  font-size: 40px !important;
}
</style>

<script>
export default {
  name: "CodeField",
  props: {
    title: { type: String },
    subtitle: { type: String }
  },
  data: () => ({})
};
</script>
 