<template>
  <div>
    <SubTitle :title="title" />
    <p
      class="white--text py-4 font-weight-light testStyle"
      v-if="text != null && !isLinkAble"
    >{{ text }}</p>
    <p v-if="text != null && isLinkAble" class="white--text py-4 font-weight-light testStyle">
      <template v-for="word in wordsArray">
        <Link
          v-if="word.isLink"
          :linkText="word.word"
          :address="word.linkAddress"
          :key="word.word + word.linkAddress"
        />
        {{ !word.isLink ? word.word : null}}
      </template>
    </p>
    <slot v-if="text == null"></slot>
  </div>
</template>

<style>
.testStyle {
  color: rgb(244, 244, 244);
  font-size: 17px !important;
}
</style>

<script>
import SubTitle from "./SubTitle";
import Link from "./Link";
export default {
  name: "Paragraph",
  components: {
    SubTitle,
    Link
  },
  props: {
    title: { type: String },
    text: { type: String },
    isLinkAble: { type: Boolean }
  },
  data: () => ({
    wordsArray: []
  }),
  mounted() {
    this.textProccess();
  },
  methods: {
    textProccess() {
      if (this.isLinkAble) {
        let words = this.text.split(/(?!\[.*)\s(?![^[]*?\])/g);
        words.forEach(current => {
          if (this.getAllMatchLink(current)) {
            let backsplashesLength = current.split("[")[0].length;
            for (
              let backSplashIndex = 0;
              backSplashIndex < backsplashesLength / 2;
              backSplashIndex += 1
            ) {
              this.wordsArray.push({
                isLink: false,
                word: "\\"
              });
            }

            let linkWord = current.split("[")[1].split("]")[0];
            let linkAddress = current.split("(")[1].split(")")[0];
            this.wordsArray.push({
              isLink: true,
              word: linkWord,
              linkAddress: linkAddress
            });
            return Link;
          } else {
            this.wordsArray.push({
              isLink: false,
              word: current
            });
          }
        });
      }
    },
    getAllMatchLink(text) {
      console.log(text);
      const regex = /^(\\\\)*\[.*]\([^ ]*\)/;
      const str = text;
      let m;

      if ((m = regex.exec(str)) !== null) {
        if (m.length > 0) {
          return true;
        }
      }

      return false;
    }
  }
};
</script>
 