<template>
  <div>
    <div class="display-1 white--text py-4 font-weight-medium">{{ title }}</div>
    <v-divider v-if="isDividerNeeded"></v-divider>
  </div>
</template>

<style>
.subtitle {
  color: rgb(244, 244, 244);
}
</style>

<script>
export default {
  name: "SubTitle",
  props: {
    title: { type: String },
    isDividerNeeded: { type: Boolean }
  },
  data: () => ({})
};
</script>
 