<template>
  <div id="drop_area" @drop.prevent="onCodeDrop" @dragover.prevent>
    <v-card dark class="mx-auto" max-width outlined tile>
      <v-list-item>
        <v-list-item-content>
          <v-subheader class="headline">{{ title }}</v-subheader>
        </v-list-item-content>
        <v-list-item-avatar tile>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn dark @click="onExportClick()" v-bind="attrs" v-on="on">
                <v-icon>mdi-file-download-outline</v-icon>
              </v-btn>
            </template>
            <span>הורד</span>
          </v-tooltip>
        </v-list-item-avatar>
        <v-list-item-avatar tile>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn dark v-if="!isFullscreen" @click="fullScreenClicked()" v-bind="attrs" v-on="on">
                <v-icon>mdi-arrow-expand-all</v-icon>
              </v-btn>
              <v-btn v-else dark @click="minimizeScreen()" class="minimizedButton" v-bind="attrs" v-on="on">
                <v-icon>mdi-arrow-collapse-all</v-icon>
              </v-btn>
            </template>
            <span>{{ toggleFullScreen }}</span>
          </v-tooltip>
        </v-list-item-avatar>
      </v-list-item>
      <MonacoEditor
        :height="editorHeight"
        width="100%"
        :class="{ codeEditorOverlay: isFullscreen }"
        :options="editorOptions"
        :language="language"
        :code="codeEditorInit"
        :highlighted="highlightLines"
        @codeChange="codeChanged"
        style="text-align: initial;"
        :key="chosenLanguage + 'code' + codeEditorKeyPart"
      ></MonacoEditor>

      <h2 v-if="code == ''" class="dragAndDropTitle">Start Coding -OR- Drop A File</h2>
    </v-card>
  </div>
</template>

<script>
import MonacoEditor from '../MonacoEditorLibraryLocal';
export default {
  name: 'CodeEditor',
  components: {
    MonacoEditor
  },
  props: {
    title: { type: String },
    codeEditorInit: { type: String },
    language: { type: String },
    lineToHighlight: { type: Array },
    update: { type: Boolean }
  },
  data: () => ({
    defaultEditorHeight: '260',
    editorHeight: '260',
    isFullscreen: false,
    chosenLanguage: 'Java',
    code: '',
    codeEditorKeyPart: 'codeEditorKeyPart',
    lastUpdate: { type: Boolean },
    specialLaunguangeFileEnding: { javascript: 'js' },
    editorOptions: {
      automaticLayout: true
    },
    toggleFullScreen: 'הגדל'
  }),
  computed: {
    highlightLines() {
      let copyOfLineToHightlight = this.lineToHighlight;
      if (copyOfLineToHightlight.length == 0) {
        copyOfLineToHightlight.push(0);
      }
      return copyOfLineToHightlight.map((current) => {
        return {
          number: current,
          class: 'primary-highlighted-line'
        };
      });
    }
  },
  // updated() {
  //   this.codeEditorKeyPart += "watchChanged";
  // },
  watch: {
    codeEditorInit: {
      handler() {
        if (this.code != this.codeEditorInit) {
          this.code = this.codeEditorInit;
          console.log(this.codeEditorInit);
          this.codeEditorKeyPart += 'watchChanged';
        }
      }
    },
    update: {
      handler() {
        setTimeout(() => {
          this.code = this.codeEditorInit;
          this.codeEditorKeyPart += 'forceUpdate';
        }, 200);
      }
    }
  },
  methods: {
    onExportClick() {
      console.log('Start Downloading');
      console.log('download');
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + this.code);
      let fileEnding = this.language;
      if (this.specialLaunguangeFileEnding[this.language] != null) {
        fileEnding = this.specialLaunguangeFileEnding[this.language];
      }
      element.setAttribute('download', 'code' + '.' + fileEnding);
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    },
    fullScreenClicked: function() {
      this.isFullscreen = true;
      this.codeEditorInit = this.code;
      this.editorHeight = '100%';
      this.codeEditorKeyPart += 'fullScreen';
      this.toggleFullScreen = 'הקטן';
    },
    minimizeScreen: function() {
      this.isFullscreen = false;
      this.codeEditorInit = this.code;
      this.editorHeight = this.defaultEditorHeight;
      this.codeEditorKeyPart += 'minimized';
      this.toggleFullScreen = 'הגדל';
    },
    codeChanged: function(event) {
      this.code = event.getValue();
      this.$emit('codeChanged', this.code);
    },
    onCodeDrop(event) {
      console.log(event);
      const file = event.dataTransfer.files[0];
      let reader = new FileReader();
      reader.readAsText(file, 'UTF-8');
      reader.onload = (evt) => {
        this.code = evt.target.result;
        this.codeEditorInit = evt.target.result;
        this.codeEditorKeyPart += 'fileUploaded';
        this.$emit('codeChanged', this.code);
      };
      reader.onerror = (evt) => {
        console.error(evt);
      };
    }
  }
};
</script>
<style scoped>
.dragAndDropTitle {
  margin: auto;
  position: absolute;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(50%, -50%);
}
.codeEditorOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10;
}
.minimizedButton {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
</style>
<style media="screen">
.secondary-highlighted-line {
  background: green;
}
.primary-highlighted-line {
  background: rgba(60, 126, 187, 0.2);
}
</style>
