<template>
  <v-container fill-height fluid width="90%" style="background-color: rgb(37, 38, 41, 1); max-width: 100%; max-height: 100%; position: relative">
    <v-skeleton-loader fill-height type="card-avatar, article, actions" class="mx-auto skeleton-loader" width="80vw" height="80vh" v-if="loading" />
    <v-col class="pa-2" lg="12" md="12" sm="12" v-else>
      <v-row no-gutters align="center" justify="space-between">
        <v-col lg="2" md="2" sm="2">
          <v-row>
            <v-col lg="12" md="12" sm="12">
              <strong class="headline white--text font-weight-bold">Test Stats</strong>
            </v-col>
          </v-row>
          <v-row>
            <div class="title white--text" v-if="ifCodeTestResultsExists">
              <v-icon class="px-2" color="red">mdi-speedometer</v-icon>
              Time: {{ testResults.runTime }}ms
            </div>
            <div class="px-2 title white--text" v-if="isCodeAnalysisDataExists">
              <v-icon class="px-2" color="yellow">mdi-alert</v-icon>
              Code Analysis: {{ NumberOfCodeAnalysisFound }}
            </div>
            <div class="px-2 title white--text" v-if="ifCodeTestResultsExists">
              <v-icon v-if="isAllTestPassed" class="px-2" color="green">{{ testSuccessIcon }}</v-icon>
              <v-icon v-if="!isAllTestPassed" class="px-2" color="red">{{ testErrorIcon }}</v-icon>
              Test Results: {{ numberOfTestPassed }} /
              {{ testResults.testResults.length }}
            </div>
          </v-row>
        </v-col>
        <v-col class="pa-0 mt-4" lg="7" md="7" sm="7" xs="7">
          <v-row align="end">
            <v-col class="pb-0" lg="4" md="6" sm="6" xs="6">
              <v-select dark :items="optionalLanguage" v-model="chosenLanguage" v-on:input="languageChnaged" filled no-data-text="נראה שהייתה בעיה">
                <template slot="item" slot-scope="data" class="d-flex justify-center">
                  <v-icon large dark style="padding: 0 10px; !important" color="white">
                    {{ 'mdi-' + laungueagesIconsibraries[data.item.toLowerCase()] }}
                  </v-icon>
                  {{ data.item }}
                </template>
                <template slot="selection" slot-scope="data">
                  <v-icon large dark style="padding: 0 10px; !important" color="white">
                    {{ 'mdi-' + laungueagesIconsibraries[data.item.toLowerCase()] }}
                  </v-icon>
                  <span>{{ data.item }}</span>
                </template>
              </v-select>
            </v-col>
            <v-col class="pb-0" lg="4" md="6" sm="6" xs="8">
              <v-select dark :items="languageVersions" v-model="chosenLanguageVersion" filled no-data-text="נראה שהייתה בעיה">
                <template slot="item" slot-scope="data">
                  <v-icon large dark style="padding: 0 10px; !important" color="white">
                    {{ 'mdi-' + laungueagesIconsibraries[chosenLanguage.toLowerCase()] }}
                  </v-icon>
                  {{ data.item }}
                </template>
                <template slot="selection" slot-scope="data">
                  <v-icon large dark style="padding: 0 10px; !important" color="white">
                    {{ 'mdi-' + laungueagesIconsibraries[chosenLanguage.toLowerCase()] }}
                  </v-icon>
                  <span>{{ data.item }}</span>
                </template>
              </v-select>
            </v-col>
          </v-row>
        </v-col>
        <v-spacer></v-spacer>
        <v-col class="pb-0" lg="2" md="2" sm="2">
          <LanguageInfo :language="chosenLanguage" />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pa-2" lg="4" md="4" sm="4">
          <v-row class="fill-height">
            <v-col lg="12" md="12" sm="12" class="fill-height">
              <v-card outlined dark class="fill-height" tile>
                <v-tabs v-model="currentItem" fixed-tabs dark background-color="rgb(37,38,41,1)">
                  <v-tab :key="tabs[0]" :href="'#tab-' + tabs[0]">
                    <strong>{{ tabs[0] }}</strong>
                  </v-tab>
                  <v-tab :key="tabs[1]" :href="'#tab-' + tabs[1]">
                    <v-badge color="red" v-if="isCodeAnalysisDataExists && testResults.codeAnalysis.length > 0">
                      <template v-slot:badge>
                        <span>{{ testResults.codeAnalysis.length }}</span>
                      </template>
                      <strong>{{ tabs[1] }}</strong>
                    </v-badge>
                    <strong v-if="!isCodeAnalysisDataExists || testResults.codeAnalysis.length == 0">{{ tabs[1] }}</strong>
                  </v-tab>
                </v-tabs>
                <v-tabs-items
                  v-if="ifCodeTestResultsExists || isTestLoading || ifSyntaxErrorExists || (testResults != null && testResults.isExecuteError)"
                  v-model="currentItem"
                >
                  <v-tab-item :key="tabs[0]" :eager="true" :value="'tab-' + tabs[0]">
                    <v-card dark fullscreen class="mx-auto" tile>
                      <v-card-title v-if="isTestLoading">
                        <v-progress-circular indeterminate color="white"></v-progress-circular>
                        <strong style="padding: 10px">Loading...</strong>
                      </v-card-title>
                      <v-list v-if="!isTestLoading">
                        <v-subheader v-if="ifCodeTestResultsExists">
                          Passed {{ numberOfTestPassed }}/{{ testResults.testResults.length }}
                          <v-spacer></v-spacer>
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn icon v-bind="attrs" v-on="on" @click="exportToExcel">
                                <svg width="20" height="20" viewBox="0 0 32 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path
                                    d="M30.825 7.45807L23.8333 1.06725C23.0833 0.381702 22.0667 -0.0067749 21.0083 -0.0067749H4C1.79167 0.000842285 0 1.63854 0 3.65709V35.3446C0 37.3631 1.79167 39.0008 4 39.0008H28C30.2083 39.0008 32 37.3631 32 35.3446V10.0479C32 9.08053 31.575 8.14362 30.825 7.45807ZM27.675 9.75084H21.3333V3.95416L27.675 9.75084ZM4 35.3446V3.65709H17.3333V11.579C17.3333 12.5921 18.225 13.4071 19.3333 13.4071H28V35.3446H4ZM21.6667 17.0633H19.2667C18.9 17.0633 18.5667 17.2462 18.3917 17.5432C16.8917 20.0645 16.5417 20.7729 16.0083 21.9383C14.85 19.7217 15.4333 20.6206 13.625 17.5432C13.45 17.2462 13.1083 17.0633 12.7417 17.0633H10.3333C9.55833 17.0633 9.08333 17.8251 9.46667 18.4344L13.325 24.3758L9.46667 30.3172C9.075 30.9266 9.55833 31.6883 10.3333 31.6883H12.7417C13.1083 31.6883 13.4417 31.5055 13.6167 31.2085C15.425 28.1616 15.5333 27.7807 16 26.8133C17.2417 29.1137 16.4917 28.0245 18.3833 31.2085C18.5583 31.5055 18.9 31.6883 19.2667 31.6883H21.6667C22.4417 31.6883 22.9167 30.9266 22.5333 30.3172L18.6667 24.3758C18.725 24.2921 21.1917 20.5292 22.525 18.4344C22.9167 17.8251 22.4333 17.0633 21.6667 17.0633Z"
                                    fill="#3EA060"
                                  />
                                </svg>
                              </v-btn>
                            </template>
                            <span>ייצא לאקסל</span>
                          </v-tooltip>
                        </v-subheader>

                        <v-textarea
                          style="white-space: pre-wrap; text-align: left; font-family: 'SFMono-Regular', monospace"
                          full-width
                          v-if="ifSyntaxErrorExists && testResults.isSyntaxError"
                          label="Error"
                          outlined
                          dark
                          rows="30"
                          readonly
                          row-height="80"
                          v-model="testResults.syntaxErrorDescription"
                        ></v-textarea>

                        <v-textarea
                          style="white-space: pre-wrap; text-align: left; font-family: 'SFMono-Regular', monospace"
                          full-width
                          v-if="testResults.errorDecription != null && testResults.isExecuteError"
                          label="Error"
                          outlined
                          dark
                          rows="30"
                          readonly
                          row-height="80"
                          v-model="testResults.errorDecription"
                        ></v-textarea>
                        <v-list-item-group color="primary" v-if="testResults">
                          <v-list-item v-for="(testResult, index) in testResults.testResults" :key="index">
                            <v-list-item-icon>
                              <v-icon :color="testResult.isTestPassed ? 'green' : 'red'">
                                {{ testResult.isTestPassed ? testSuccessIcon : testErrorIcon }}
                              </v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-expansion-panels>
                                <v-expansion-panel>
                                  <v-expansion-panel-header class="text-left align-self-start">
                                    {{ testResult.testDescription }}
                                  </v-expansion-panel-header>
                                  <v-expansion-panel-content class="text-left align-self-start">
                                    {{ testResult.result }}
                                  </v-expansion-panel-content>
                                </v-expansion-panel>
                              </v-expansion-panels>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list-item-group>
                      </v-list>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item :key="tabs[1]" :eager="true" :value="'tab-' + tabs[1]">
                    <v-card dark class="mx-auto" tile>
                      <v-card-title v-if="isTestLoading">
                        <v-progress-circular indeterminate color="white"></v-progress-circular>
                        <strong style="padding: 10px">Loading...</strong>
                      </v-card-title>
                      <!-- disabled -->
                      <v-list v-if="!isTestLoading">
                        <v-subheader v-if="isCodeAnalysisDataExists">{{ testResults.codeAnalysis.length }} Warnnings</v-subheader>

                        <v-list-item-group color="primary" v-if="testResults">
                          <v-list-item
                            @mouseover="mouseOverCodeAnalysisProblem(testAnalysis.startLine)"
                            @mouseleave="mouseLeaveCodeAnalysisProblem()"
                            v-for="(testAnalysis, index) in testResults.codeAnalysis"
                            :key="index"
                          >
                            <v-list-item-icon>
                              <v-icon color="red">{{ testErrorIcon }}</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content class="text-left align-self-start">
                              <v-list-item-title class="text--white headline">
                                <strong>{{ testAnalysis.type }}</strong>
                              </v-list-item-title>
                              <v-spacer />

                              <div>
                                <strong>Description:</strong>
                                {{ testAnalysis.description }}
                              </div>
                              <div>
                                <strong>Start Line:</strong>
                                {{ testAnalysis.startLine }}
                              </div>
                              <div>
                                <strong>End Line:</strong>
                                {{ testAnalysis.endLine }}
                              </div>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list-item-group>
                      </v-list>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col lg="8" md="8" sm="8">
          <v-row class="text-center">
            <v-col class="pa-2" lg="12" md="12" sm="12">
              <CodeEditor
                title="Solution"
                @codeChanged="codeChanged"
                :language="ChosenLanguageLoweredCased"
                :codeEditorInit="codeEditorInit"
                :lineToHighlight="lineToHighlight"
              />
            </v-col>
          </v-row>

          <v-row>
            <v-col lg="7" md="7" sm="7" xs="7">
              <CodeEditor
                title="Sample Tests"
                @codeChanged="testCodeChanged"
                :language="ChosenLanguageLoweredCased"
                :codeEditorInit="testCodeEditorInit"
                :lineToHighlight="[]"
                :update="updateTestCode"
              />
              <br />
              <v-btn large dark outlined color="primary" @click="loadExample" width="12vw">Example</v-btn>
            </v-col>
            <v-col lg="5" md="5" sm="5" xs="5" align="end">
              <TestCodeCard :language="chosenLanguage" @testCodeCreated="testCodeGenerated"></TestCodeCard>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn large dark outlined v-on="on" color="primary" @click="sendTestToServer" width="12vw">
                    <v-icon dark style="padding: 0 10px; !important">mdi-play</v-icon>
                    Run Tests
                  </v-btn>
                </template>
                <span>Ctrl + Enter</span>
              </v-tooltip>
              <br />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-container>
</template>

<script>
/* eslint-disable no-debugger */
import CodeEditor from './CodeEditor';
import TestCodeCard from './TestCodeCard';
import LanguageInfo from './LanguageInfo';
import { TestsService } from '../services/TestsService';
const { detect } = require('program-language-detector');
export default {
  name: 'CodePage',
  components: {
    CodeEditor,
    TestCodeCard,
    LanguageInfo
  },
  data: () => ({
    currentItem: 'tab-Results',
    loading: true,
    errorStatus: false,
    tabs: ['Results', 'Code Analysis'],
    code: '',
    testCode: '',
    codeEditorInit: '',
    testCodeEditorInit: '',
    lineNumbers: true,
    maxFileToUpload: 1,
    testResults: null,
    testSuccessIcon: 'mdi-checkbox-marked-circle',
    testErrorIcon: 'mdi-cancel',
    languagesVersions: {},
    chosenLanguage: 'Javascript',
    languageVersions: [],
    chosenLanguageVersion: '',
    optionalLanguage: [],
    isTestLoading: false,
    lineToHighlight: [],
    updateTestCode: false,
    laungueagesIconsibraries: [],
    shouldShowSnackbar: false,
    snackbarColor: 'success',
    snackbarText: 'Error!'
  }),
  async mounted() {
    await this.loadLaungueages();
    await this.loadLaungueagesIcons();
    this.errorStatus = false;
  },
  created() {
    document.addEventListener('keydown', this.shortcutsHandler);
  },
  destroyed() {
    document.removeEventListener('keydown', this.shortcutsHandler);
  },
  computed: {
    NumberOfCodeAnalysisFound() {
      if (this.isCodeAnalysisDataExists && this.testResults.codeAnalysis.length > 0) {
        return this.testResults.codeAnalysis.length;
      }
      return 0;
    },
    ifCodeTestResultsExists() {
      return this.testResults != null && this.testResults.testResults != null;
    },
    ifSyntaxErrorExists() {
      return this.testResults != null && this.testResults.isSyntaxError;
    },

    isCodeAnalysisDataExists() {
      return this.testResults != null && this.testResults.codeAnalysis != null;
    },
    optionalLanguageLowerCase() {
      return this.optionalLanguage.map((current) => {
        return current.toLowerCase();
      });
    },
    ChosenLanguageLoweredCased() {
      return this.chosenLanguage.toLowerCase();
    },
    isAllTestPassed() {
      return this.numberOfTestPassed == this.testResults.testResults.length;
    },
    numberOfTestPassed() {
      if (this.testResults != null && this.testResults.testResults != null) {
        return this.testResults.testResults.filter((test) => test.isTestPassed).length;
      } else {
        return 0;
      }
    }
  },
  methods: {
    exportToExcel() {
      TestsService.exportTestsReultsToExcel(
        [this.testResults],
        '',
        '',
        '',
        '',
        this.testResults.testResults.map((result) => result.testDescription)
      );
    },
    shortcutsHandler(e) {
      if (e.ctrlKey && e.keyCode == 13) {
        e.preventDefault();
        this.sendTestToServer();
      }
    },
    changeSnackBarStatus(newVal) {
      this.shouldShowSnackbar = newVal;
    },
    setSnackBarSettings(snackMessage, snackbarColor, shouldShowSnackbar) {
      this.snackbarText = snackMessage;
      this.snackbarColor = snackbarColor;
      this.shouldShowSnackbar = shouldShowSnackbar;
    },
    loadLaungueagesIcons() {
      const url = `${process.env.VUE_APP_SERVER_IP}/languages/iconNames/`;

      fetch(url)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data);
          this.laungueagesIconsibraries = data;
          console.log(this.laungueagesIconsibraries);
          console.log('fetch icons');
          this.loading = false;
        });
    },

    languageChnaged(newValue) {
      this.setProgrammingLaungueage(newValue);
      this.languageVersions = this.languagesVersions[this.chosenLanguage.toLowerCase()];
      this.chosenLanguageVersion = this.languageVersions[this.languageVersions.length - 1];
    },
    onCodeTestTabChosen() {
      this.updateTestCode = !this.updateTestCode;
    },
    mouseOverCodeAnalysisProblem(problemIndex) {
      this.lineToHighlight = [problemIndex];
    },
    mouseLeaveCodeAnalysisProblem() {
      this.lineToHighlight = [];
    },
    loadLaungueages() {
      const url = `${process.env.VUE_APP_SERVER_IP}/languages`;
      fetch(url)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data);

          this.optionalLanguage = Object.keys(data).map((current) => current.charAt(0).toUpperCase() + current.slice(1));
          this.chosenLanguage = this.optionalLanguage[0];
          this.languagesVersions = data;
          this.languageVersions = this.languagesVersions[this.chosenLanguage.toLowerCase()];
          this.chosenLanguageVersion = this.languageVersions[this.languageVersions.length - 1];
          this.loading = false;
        })
        .catch(() => (this.errorStatus = true));
    },
    loadExample() {
      const url = `${process.env.VUE_APP_SERVER_IP}/example/${this.chosenLanguage.toLowerCase()}`;
      fetch(url)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data);
          this.codeEditorInit = data['Code'];
          this.code = data['Code'];
          this.testCodeEditorInit = data['TestCode'];
          this.testCode = data['TestCode'];
        })
        .catch(() => {
          this.$alertify.error('הדוגמא לא נטענה כמו שצריך');
        });
    },
    testCodeGenerated: function(code) {
      this.testCodeEditorInit = code;
      this.testCode = code;
    },
    testCodeChanged: function(code) {
      this.testCode = code;
      this.autoLaungueageDetector(code);
    },
    autoLaungueageDetector: function(code) {
      const detectedLaungueage = detect(code).toLowerCase();
      const optionalLanguagesLoweredCased = this.optionalLanguage.map((current) => {
        return current.toLowerCase();
      });
      if (optionalLanguagesLoweredCased.includes(detectedLaungueage)) {
        let detectedLanguageNotLoweredCased = this.optionalLanguage[optionalLanguagesLoweredCased.indexOf(detectedLaungueage)];
        this.setProgrammingLaungueage(detectedLanguageNotLoweredCased);
      }
    },
    codeChanged: function(code) {
      this.code = code;
      this.codeEditorInit = code;
      this.autoLaungueageDetector(code);
    },
    setProgrammingLaungueage: function(newLaungueage) {
      console.log(newLaungueage);
      this.testCodeEditorInit = this.testCode;
      this.codeEditorInit = this.code;
      this.chosenLanguage = newLaungueage;

      // vm.$forceUpdate();
    },
    uuidv4: function() {
      return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, (c) =>
        (c ^ (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))).toString(16)
      );
    },
    sendTestToServer: async function() {
      console.log('Send Code and Test To Server');

      if (!this.code || !this.testCode) {
        console.log('Data is missing, code: ' + this.code, ' Test Code: ' + this.testCode);
        this.$alertify.error('נראה שחסר לך נתונים, שים לב שהקלדת הכל');
      } else {
        this.isTestLoading = true;
        this.testResults = null;
        TestsService.runTests(this.code, this.chosenLanguage, this.testCode, this.chosenLanguageVersion)
          .then((res) => {
            console.log('runnningReults: ' + res.data);

            if (res.data[0].testResults) {
              res.data[0].testResults.sort(function(a, b) {
                if (a.testDescription < b.testDescription) {
                  return -1;
                }

                if (a.testDescription > b.testDescription) {
                  return 1;
                }

                return 0;
              });
            }

            this.testResults = res.data[0];
          })
          .catch((error) => {
            this.$alertify.error('וואלה נראה שהייתה בעיה עם ההרצה של הבדיקות');
            console.log('error while trying to run tests: ', error);
          })
          .finally(() => {
            this.isTestLoading = false;
          });
      }
    }
  },
  watch: {
    errorStatus(status) {
      if (status) {
        this.$router.push({
          name: 'Error',
          params: {
            message: 'It seems that there was an error',
            buttonText: 'Try to refresh the page'
          }
        });
        console.log(this.$route.name);
      }
    }
  }
};
/* eslint-enable no-debugger */
</script>

<style scoped>
.dragAndDropTitle {
  margin: auto;
  position: absolute;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(50%, -50%);
}

.v-text-field--filled {
  border-radius: 0px 0px 0 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-style: none;
}

.skeleton-loader >>> .v-skeleton-loader__button {
  margin-top: 300px;
}

.skeleton-loader >>> v-skeleton-loader__list-item-avatar,
v-skeleton-loader__bone {
  padding-top: 20px;
}
</style>
