<template>
  <v-container
    class="py-0"
    fluid
    style=" max-width: 100%; background-color: rgb(28,28,30,1); overflow: hidden;
    height: calc(100vh - 48px); "
  >
    <v-row class="pa-12" style="background-color: rgb(45,45,45,1); " justify="center">
      <div class="display-2 font-weight-bold text-center" style="white-space: pre-line">{{ message }}</div>
    </v-row>
    <v-row class="pb-12" style="background-color: rgb(45,45,45,1); " justify="center">
      <div class="font-weight-bold text-center">
        <v-btn outlined class="subtitle-2" to="/">{{ buttonText }}</v-btn>
      </div>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "ErrorPage",
  props: {
    message: {
      type: String,
      default: "נראה שהייתה בעיה",
    },
    buttonText: {
      type: String,
      default: "Go back to home page",
    },
  },
};
</script>
