<template>
  <div class="text-center">
    <v-dialog v-model="dialog" width="800">
      <template v-slot:activator="{ on }">
        <v-tooltip bottom v-on="on">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="blue lighten-2" min-height="56" max-width="100%" outlined @click="dialog = true" dark v-on="on" v-bind="attrs">
              <v-icon large dark style="padding: 0 10px; !important" color="blue">mdi-package-variant</v-icon>
            </v-btn>
          </template>
          <span>...קצת מידע על השפה</span>
        </v-tooltip>
      </template>

      <v-card>
        <v-card-title class="headline lighten-2" v-if="loadLibrariesExplanation != ''" primary-title>How To Load Library</v-card-title>
        <v-card-text>{{ loadLibrariesExplanation }}</v-card-text>
        <v-card-title class="headline lighten-2" v-if="loadLibrariesExample != ''" primary-title>Load Library Example</v-card-title>
        <v-card-text>{{ loadLibrariesExample }}</v-card-text>

        <v-card-title class="headline lighten-2" primary-title>Tests Timeout</v-card-title>
        <v-card-text>{{ testTimeout }}</v-card-text>

        <v-divider></v-divider>

        <v-card-title v-if="includedLibraries.length > 1" class="headline lighten-2" primary-title>Already Loaded Libraries</v-card-title>
        <v-card-text v-for="included in includedLibraries" :key="included">{{ included }}</v-card-text>

        <v-divider></v-divider>

        <v-card-title class="headline lighten-2" v-if="alreadyLoadedLibraries.length > 1" primary-title>Included Libraries</v-card-title>
        <v-card-text v-for="loadedLibraries in alreadyLoadedLibraries" :key="loadedLibraries">{{ loadedLibraries }}</v-card-text>

        <v-divider></v-divider>

        <v-card-title v-if="installedServices.length > 1" class="headline lighten-2" primary-title>Installed Services</v-card-title>
        <v-card-text v-for="Installed in installedServices" :key="Installed">{{ Installed }}</v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped></style>

<script lang="js">
export default {
  name: 'LanguageInfo',
  components: {},
  props: {
    language: { type: String }
  },
  data: () => ({
    dialog: false,
    includedLibraries: [],
    alreadyLoadedLibraries: [],
    loadLibrariesExplanation: '',
    loadLibrariesExample: '',
    installedServices: [],
    testTimeout: ''
  }),
  mounted() {
    this.loadInfo();
  },
  watch: {
    language: {
      handler() {
        this.loadInfo();
      }
    }
  },
  methods: {
    loadInfo() {
      const url = `${process.env.VUE_APP_SERVER_IP}/info/${this.language}`;
      fetch(url)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          console.log(data);
          this.includedLibraries = data['Included Libraries'];
          this.alreadyLoadedLibraries = data['Already Loaded Libraries'];
          this.loadLibrariesExplanation = data['Load Libraries Explanation'];
          this.loadLibrariesExample = data['Load Libraries Example'];
          this.installedServices = data['Installed Services'];
          this.testTimeout = data['Test Timeout'];
        });
    }
  }
};
</script>
