<template>
  <v-container>
    <v-row justify="center" dir="rtl">
      <span class="text-h3 pa-2">איזה כיף זה להריץ סורסים!</span>
    </v-row>
    <v-row justify="center">
      <v-switch v-model="testByPath" :label="testByPath ? 'שולפים מהשרת לפי נתיב' : 'שולפים מאווטר'"></v-switch>
    </v-row>

    <v-row justify="center" v-if="testByPath">
      <v-col cols="5">
        <v-text-field v-model="path" label="נתיב" hint="major/course/subject/tar/version/language" outlined></v-text-field>
      </v-col>
    </v-row>
    <v-row justify="center" v-else>
      <v-col cols="5">
        <v-select label="מגמה" v-model="selectedMegama" item-text="name" item-value="name" :items="megamot" outlined></v-select>
        <v-select label="קורס" v-if="selectedMegama" v-model="selectedCourse" item-text="name" item-value="name" :items="courses" outlined></v-select>
        <v-select
          dir="rtl"
          v-if="selectedCourse"
          v-model="selectedSubject"
          label="מקצוע"
          item-text="name"
          item-value="name"
          :items="subjects"
          outlined
        ></v-select>
        <v-select v-if="selectedSubject" label="מבחן" item-text="name" item-value="name" v-model="selectedTest" :items="tests" outlined></v-select>
        <v-select v-if="selectedTest" label="איזה מספר הגשה?" v-model="selectedVersion" :items="versions" outlined></v-select>
      </v-col>
    </v-row>
    <v-row justify="center" v-if="selectedVersion || testByPath">
      <v-col cols="auto">
        <v-btn fab x-large color="green" @click="startTests">▶</v-btn>
      </v-col>
      <v-col cols="auto">
        <v-btn fab x-large color="white" :loading="generatingExcel" class="green--text" @click="exportToExcel">
          <svg width="28" height="37" viewBox="0 0 32 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M30.825 7.45807L23.8333 1.06725C23.0833 0.381702 22.0667 -0.0067749 21.0083 -0.0067749H4C1.79167 0.000842285 0 1.63854 0 3.65709V35.3446C0 37.3631 1.79167 39.0008 4 39.0008H28C30.2083 39.0008 32 37.3631 32 35.3446V10.0479C32 9.08053 31.575 8.14362 30.825 7.45807ZM27.675 9.75084H21.3333V3.95416L27.675 9.75084ZM4 35.3446V3.65709H17.3333V11.579C17.3333 12.5921 18.225 13.4071 19.3333 13.4071H28V35.3446H4ZM21.6667 17.0633H19.2667C18.9 17.0633 18.5667 17.2462 18.3917 17.5432C16.8917 20.0645 16.5417 20.7729 16.0083 21.9383C14.85 19.7217 15.4333 20.6206 13.625 17.5432C13.45 17.2462 13.1083 17.0633 12.7417 17.0633H10.3333C9.55833 17.0633 9.08333 17.8251 9.46667 18.4344L13.325 24.3758L9.46667 30.3172C9.075 30.9266 9.55833 31.6883 10.3333 31.6883H12.7417C13.1083 31.6883 13.4417 31.5055 13.6167 31.2085C15.425 28.1616 15.5333 27.7807 16 26.8133C17.2417 29.1137 16.4917 28.0245 18.3833 31.2085C18.5583 31.5055 18.9 31.6883 19.2667 31.6883H21.6667C22.4417 31.6883 22.9167 30.9266 22.5333 30.3172L18.6667 24.3758C18.725 24.2921 21.1917 20.5292 22.525 18.4344C22.9167 17.8251 22.4333 17.0633 21.6667 17.0633Z"
              fill="#3EA060"
            />
          </svg>
        </v-btn>
      </v-col>
    </v-row>
    <v-dialog v-model="sendDialog" max-width="40vw">
      <v-card dir="rtl">
        <v-card-title class="headline">הרצת הבדיקות החלה!</v-card-title>
        <v-card-text>
          ממש עכשיו שלחנו את מקרי הריצה אל השרת, זהו תהליך שיקח זמן (כ 15 שניות לסורס). בנתיים אפשר לשבת לנוח וכשהבדיקות יסתיימו תוכלו לחזור לאתר
          לצפות בתוצאות
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="sendDialog = false">סבבה</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar right v-model="snackbar" :timeout="2500" color="white darken-2" class="black--text text-body-1" outlined>
      היי, עדיין לא סיימנו להריץ את הבדיקות. תוודא שהרצת אותן ואם כן חכה ונודיע לך כשנסיים
    </v-snackbar>
  </v-container>
</template>

<script>
import { TestsService } from '../services/TestsService';
export default {
  data() {
    return {
      testByPath: false,
      path: '',
      sendDialog: false,
      snackbar: false,
      generatingExcel: false,
      waitingTests: 34,
      selectedMegama: 'תכנות',
      selectedCourse: '',
      selectedSubject: '',
      selectedTest: '',
      selectedVersion: '',
      versions: [1, 2, 3, 4],
      megamot: [],
      courses: [],
      subjects: [],
      tests: [],
      results: []
    };
  },
  async mounted() {
    this.getMegamot();
    this.getCourses();
  },
  methods: {
    async getFromKatara(path) {
      const dir = await fetch(`${process.env.VUE_APP_KATARA_IP}/storage/local/list?path=${path}`).then((response) => response.json());
      return dir.sort((a, b) => (a - b ? 1 : -1));
    },
    async getMegamot() {
      this.megamot = await this.getFromKatara(`/`);
    },
    async getCourses() {
      this.selectedCourse = '';
      this.courses = await this.getFromKatara(`/${this.selectedMegama}/`);
    },
    async getSubjects() {
      this.selectedSubject = '';
      this.subjects = await this.getFromKatara(`/${this.selectedMegama}/${this.selectedCourse}`);
    },
    async getTests() {
      this.selectedTest = '';
      this.tests = await this.getFromKatara(`/${this.selectedMegama}/${this.selectedCourse}/${this.selectedSubject}`);
    },
    async startTests() {
      // send req to start run tests
      this.sendDialog = true;
      if (this.testByPath) {
        TestsService.runLocalTestsByTestAndCourse(this.path)
          .then(({ data }) => {
            this.results = data;
            this.$alertify.success('יאללה סיימנו להריץ');
            this.exportToExcel();
          })
          .catch((err) => {
            console.error('Error while running tests: ' + err);
            this.$alertify.error('הייתה בעיה עם ההרצה');
          });
      } else {
        TestsService.runTestsByTestAndCourse(
          this.selectedMegama,
          this.selectedCourse,
          this.selectedSubject,
          this.selectedTest,
          this.selectedVersion,
          'java'
        )
          .then(({ data }) => {
            this.results = data;
            this.$alertify.success('יאללה סיימנו להריץ');
            this.exportToExcel();
          })
          .catch((err) => {
            console.error('Error while running tests: ' + err);
            this.$alertify.error('הייתה בעיה עם ההרצה');
          });
      }
    },
    exportToExcel() {
      if (this.results.length > 0) {
        this.snackbar = false;

        // Hard coded cases, it will be dynamically fetched by the selected test in the future
        let cases = this.results.filter((result) => result.testResults)[0].testResults.map((testResult) => testResult.testDescription);
        cases = cases.sort();

        //Hard coded example: TestsService.exportTestsReultsToExcel(this.results, 'תכנות', 'RPE', 'ATP', 'Baser', cases);
        TestsService.exportTestsReultsToExcel(this.results, this.selectedMegama, this.selectedCourse, this.selectedSubject, this.selectedTest, cases);
      } else {
        this.snackbar = true;
      }
      this.waitingTests = 21;
      // this.snackbar = false;
      // this.snackbar = true;
    }
  },
  watch: {
    selectedMegama() {
      this.getCourses();
    },
    selectedCourse() {
      this.getSubjects();
    },
    selectedSubject() {
      this.getTests();
    }
  }
};
</script>

<style></style>
