<template>
  <div id="drop_area" @drop.prevent="onFileDrop" @dragover.prevent style="height: 95%;">
    <v-card :class="{ fullScreen: isFullscreen }" dark max-width outlined tile>
      <v-list height="100%">
        <v-list-item>
          <v-list-item-content>
            <v-subheader class="headline">Test Cases</v-subheader>
          </v-list-item-content>

          <v-list-item-avatar tile>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn dark @click="onExportClick()" v-bind="attrs" v-on="on">
                  <v-icon>mdi-file-download-outline</v-icon>
                </v-btn>
              </template>
              <span>הורד</span>
            </v-tooltip>
          </v-list-item-avatar>
          <v-list-item-avatar tile>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn dark v-if="!isFullscreen" @click="fullScreenClicked()" v-bind="attrs" v-on="on">
                  <v-icon>mdi-arrow-expand-all</v-icon>
                </v-btn>
                <v-btn v-else dark @click="minimizeScreen()" class="minimizedButton" v-bind="attrs" v-on="on">
                  <v-icon>mdi-arrow-collapse-all</v-icon>
                </v-btn>
              </template>
              <span>{{ toggleFullScreen }}</span>
            </v-tooltip>
          </v-list-item-avatar>
        </v-list-item>
        <v-form class="mx-4" ref="form" v-model="valid" lazy-validation>
          <v-row class="px-2">
            <v-col class="py-0" lg="4" md="4" sm="4">
              <v-text-field v-model="functionName" :rules="nameRules" label="Function Name" required />
            </v-col>
          </v-row>
          <v-row class="px-2" v-for="(n, index) in numberOfTests" :key="index">
            <v-col lg="4" md="4" sm="4">
              <v-text-field v-model="expectedOutputs[index]" :rules="nameRules" label="Expected Output" required />
            </v-col>
            <v-col lg="{4}" md="4" sm="4">
              <v-text-field v-model="functionsInputs[index]" label="Function Inputs" />
            </v-col>
            <v-col lg="4" md="4" sm="4">
              <v-text-field v-model="testsDescription[index]" :rules="nameRules" label="Description" required />
            </v-col>
          </v-row>

          <v-row class="pa-2" justify="space-around" align="center">
            <v-col :lg="largeButtonSize" :md="mediumButtonSize" :sm="smallButtonSize" :xs="xsButtonSize">
              <v-btn color="success" @click="addTestLine" outlined block>Add Test</v-btn>
            </v-col>

            <v-col :lg="largeButtonSize" :md="mediumButtonSize" :sm="smallButtonSize" :xs="xsButtonSize">
              <v-btn color="error" @click="reset" outlined block>Reset</v-btn>
            </v-col>
            <v-col :lg="largeButtonSize" :md="mediumButtonSize" :sm="smallButtonSize" :xs="xsButtonSize">
              <v-btn :disabled="!valid" color="warning" @click="createTest" outlined block>Generate</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-list>
      <v-row class="pa-6" justify="space-around" align="center">
        <div width="95%" height="100%" class="draggingCard d-flex justify-center mx-auto headline pa-5 pb-4">
          <div>
            Fill Text Fields - OR - Drop A File
            <div class="d-flex">
              <v-icon class="mt-3 mx-auto">fas fa-upload</v-icon>
            </div>
          </div>
        </div>
      </v-row>
    </v-card>
  </div>
</template>

<style scoped>
.fullScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10;
}
.minimizedButton {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
.draggingCard {
  border: dashed;
  border-width: thin;
}
</style>

<script>
export default {
  name: "TestCodeCard",
  props: {
    language: { type: String, required: true },
  },
  components: {},
  data: () => ({
    valid: true,
    name: "",
    nameRules: [(v) => !!v || "Field is required"],
    functionName: "",
    expectedOutputs: [],
    functionsInputs: [],
    testsDescription: [],
    numberOfTests: 1,
    isFullscreen: false,
    xsButtonSize: "12",
    smallButtonSize: "12",
    mediumButtonSize: "6",
    largeButtonSize: "6",
    toggleFullScreen: "הגדל",
  }),
  methods: {
    setButtonSize(xsButtonSize, smallButtonSize, mediumButtonSize, largeButtonSize) {
      this.xsButtonSize = xsButtonSize;
      this.mediumButtonSize = mediumButtonSize;
      this.largeButtonSize = largeButtonSize;
      this.smallButtonSize = smallButtonSize;
    },
    fullScreenClicked: function() {
      this.isFullscreen = true;
      this.setButtonSize(2, 2, 2, 2);
      this.toggleFullScreen = "הקטן";
    },
    minimizeScreen: function() {
      this.isFullscreen = false;
      this.setButtonSize(6, 6, 4, 4);
      this.toggleFullScreen = "הגדל";
    },

    createTestCasesJson() {
      this.$refs.form.validate();
      if (this.$refs.form.validate()) {
        let testCasesArray = [];
        for (let testCaseIndex = 0; testCaseIndex < this.numberOfTests; testCaseIndex += 1) {
          console.log(testCaseIndex);
          let expectedOutput = this.expectedOutputs[testCaseIndex];
          console.log(expectedOutput);
          if (!isNaN(expectedOutput)) {
            expectedOutput = parseFloat(expectedOutput);
            console.log(expectedOutput);
          }

          testCasesArray.push({
            inputOfFunction: this.functionsInputs[testCaseIndex],
            functionOutput: expectedOutput,
            testName: this.testsDescription[testCaseIndex],
            functionName: this.functionName,
          });
        }
        console.log(testCasesArray);

        const RequestJson = {
          language: this.language,
          testsRequests: testCasesArray,
        };
        return RequestJson;
      }
      return null;
    },

    createTest() {
      // validate
      let RequestJson = this.createTestCasesJson();
      if (RequestJson != null) {
        var requestOptions = {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify(RequestJson),
          redirect: "follow",
        };

        fetch(`${process.env.VUE_APP_SERVER_IP}/testCode`, requestOptions)
          .then((response) => response.text())
          .then((result) => {
            console.log(result);
            this.$emit("testCodeCreated", result);
          })
          .catch((error) => console.log("error", error));
      }
    },
    addTestLine() {
      this.numberOfTests += 1;
    },
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.numberOfTests = 1;
      this.expectedOutputs = [];
      this.functionsInputs = [];
      this.testsDescription = [];
      this.$refs.form.reset();
    },
    onExportClick() {
      console.log("Start Downloading");
      let fileJson = this.createTestCasesJson();
      if (fileJson != null) {
        console.log("download");
        var element = document.createElement("a");
        element.setAttribute("href", "data:text/plain;charset=utf-8," + JSON.stringify(fileJson));
        element.setAttribute("download", this.functionName + ".testCase");

        element.style.display = "none";
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
      }
    },
    onFileDrop(event) {
      console.log(event);
      const file = event.dataTransfer.files[0];
      let reader = new FileReader();
      reader.readAsText(file, "UTF-8");
      reader.onload = (evt) => {
        let fileValue = evt.target.result;
        console.log(fileValue);
        this.convertLoadReuqestJsonDataToClient(fileValue);
      };
      reader.onerror = (evt) => {
        console.error(evt);
      };
    },
    convertLoadReuqestJsonDataToClient(RequestJson) {
      const dataAsJson = JSON.parse(RequestJson);
      const language = dataAsJson["language"];
      console.log(language);
      let testsRequests = dataAsJson["testsRequests"];
      this.numberOfTests = testsRequests.length;

      testsRequests.forEach((request) => {
        this.functionName = request["functionName"];
        this.expectedOutputs.push(request["functionOutput"]);
        this.functionsInputs.push(request["inputOfFunction"]);
        this.testsDescription.push(request["testName"]);
      });
    },
  },
};
</script>
