<template>
  <v-container>
    <v-row>
      <v-col lg="12" md="12" sm="12">
        <PageTitleSection
          title="Installation"
          subtitle="Learn how to install your own local Test Auto"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col lg="12" md="12" sm="12">
        <Paragraph title="OverView" :text="overViewInformation" />
      </v-col>
      <v-col lg="12" md="12" sm="12">
        <Paragraph
          title="Step 1"
          text="Download and install [Docker](www.docker.com) on your computer."
          :isLinkAble="true"
        />
      </v-col>
      <v-col lg="12" md="12" sm="12">
        <Paragraph
          title="Step 2"
          text="Download all needed docker images (Optinal - Server will download them automaticly if missing)"
        />
      </v-col>
      <v-col lg="12" md="12" sm="12" v-for="dockerRunner in dockerRunners" :key="dockerRunner">
        <CodeField :isCopyButtonEnable="true" :codeString="'docker pull ' + dockerRunner" />
      </v-col>
      <v-spacer />

      <v-col lg="12" md="12" sm="12">
        <Paragraph
          title="Step 3"
          text="Install all node packages in both server folder and client folder."
        />
        <CodeField :isCopyButtonEnable="true" codeString="npm install" />
      </v-col>
      <v-col lg="12" md="12" sm="12">
        <Paragraph
          title="Step 4"
          text="Install [Facebook Infer](https://fbinfer.com)"
          :isLinkAble="true"
        />
      </v-col>
      <v-col lg="12" md="12" sm="12">
        <Paragraph title="Step 5" text="Install [PMD](https://pmd.github.io/)" :isLinkAble="true" />
      </v-col>
      <v-col lg="12" md="12" sm="12">
        <Paragraph title="Step 6" text="Install JSHint Globally" />
        <CodeField :isCopyButtonEnable="true" codeString="sudo npm install -g jshint" />
      </v-col>
      <v-col lg="12" md="12" sm="12">
        <Paragraph
          title="Step 7"
          text="Open terminal in the dictionary: vulturePythonAnalysis. Then Execute"
        />
        <CodeField :isCopyButtonEnable="true" codeString="sudo pip install ." />
      </v-col>
      <v-col lg="12" md="12" sm="12">
        <Paragraph title="Step 8" text="Pull Coala docker images" />
        <CodeField :isCopyButtonEnable="true" codeString="docker pull coala/base" />
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
import PageTitleSection from "../../PagesComponents/PageTitleSection";
import Paragraph from "../../PagesComponents/Paragraph";
import CodeField from "../../PagesComponents/CodeField";

export default {
  name: "Installation",
  components: {
    PageTitleSection,
    Paragraph,
    CodeField
  },
  data: () => ({
    overViewInformation:
      "Installation is complecated because how the server manage the testing.For Each code test created a new container to run the code safely.",
    dockerRunners: [
      "codewars/java-runner",
      "docker pull codewars/node-runner",
      "docker pull codewars/systems-runner",
      "docker pull codewars/python-runner",
      "docker pull codewars/dart-runner"
    ]
  })
};
</script>
 