<template>
  <v-container>
    <v-row align="start">
      <v-col lg="12" md="12" sm="12">
        <PageTitleSection title="Test Cases" subtitle="Learn how to write test cases" />
      </v-col>
    </v-row>

    <Paragraph title="OverView" :text="overViewInformation" />

    <SubTitle title="Json Structure" />
    <CodeField>{{ testCaseStructure }}</CodeField>

    <SubTitle title="Json Example" />
    <v-row class="pa-0">
      <v-col lg="5" md="5" sm="5">
        <CodeField>{{ testCaseExample }}</CodeField>
      </v-col>
      <v-col lg="2" md="2" sm="2" class="text-center ma-auto">
        <v-icon large>mdi-arrow-right-bold-outline</v-icon>
      </v-col>
      <v-col lg="5" md="5" sm="5">
        <CodeField>{{ testCaseCodeExample }}</CodeField>
      </v-col>
    </v-row>
    <v-spacer class="pa-6" />

    <Paragraph
      title="Randomize Function Inputs"
      text="Randomize inputs can be usefull to check differt values every time. First Number must be smaller than Second number. Number can be float or int (See Examples)"
    />
    <SubTitle title="Structure" />
    <v-row class="pa-0">
      <v-spacer />
      <v-col lg="2" md="2" sm="2">
        <CodeField>{{ "- / + / None" }}</CodeField>
      </v-col>
      <v-col lg="2" md="2" sm="2">
        <CodeField>{{ "Number" }}</CodeField>
      </v-col>
      <v-col lg="1" md="1" sm="1" class="text-center ma-auto">
        <CodeField>{{ "-" }}</CodeField>
      </v-col>
      <v-col lg="2" md="2" sm="2">
        <CodeField>{{ "- / + / None" }}</CodeField>
      </v-col>
      <v-col lg="2" md="2" sm="2">
        <CodeField>{{ "Number" }}</CodeField>
      </v-col>
      <v-spacer />
    </v-row>

    <SubTitle title="Examples" />
    <v-row class="pa-0">
      <v-col lg="5" md="5" sm="5">
        <CodeField>{{ "[4-200, 4-300, \"Sum\"]" }}</CodeField>
      </v-col>
      <v-col lg="1" md="1" sm="1" class="text-center ma-auto">
        <v-icon large>mdi-arrow-right-bold-outline</v-icon>
      </v-col>
      <v-col lg="2" md="2" sm="2">
        <CodeField>{{ "[45, 4, \"Sum\"]" }}</CodeField>
      </v-col>
      <v-col lg="2" md="2" sm="2">
        <CodeField>{{ "[200, 9, \"Sum\"]" }}</CodeField>
      </v-col>
      <v-col lg="2" md="2" sm="2">
        <CodeField>{{ "[156, 5, \"Sum\"]" }}</CodeField>
      </v-col>
    </v-row>
    <v-row class="pa-0">
      <v-col lg="5" md="5" sm="5">
        <CodeField>{{ "[4.2-6.4, -1-+5]" }}</CodeField>
      </v-col>
      <v-col lg="1" md="1" sm="1" class="text-center ma-auto">
        <v-icon large>mdi-arrow-right-bold-outline</v-icon>
      </v-col>
      <v-col lg="2" md="2" sm="2">
        <CodeField>{{ "[4.3256246, 0]" }}</CodeField>
      </v-col>
      <v-col lg="2" md="2" sm="2">
        <CodeField>{{ "[5.0914, -1]" }}</CodeField>
      </v-col>
      <v-col lg="2" md="2" sm="2">
        <CodeField>{{ "[6.13515412, 3]" }}</CodeField>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PageTitleSection from "../../PagesComponents/PageTitleSection";
import Paragraph from "../../PagesComponents/Paragraph";
import CodeField from "../../PagesComponents/CodeField";
import SubTitle from "../../PagesComponents/SubTitle";
export default {
  name: "GettingStarted-TestCases",
  components: {
    PageTitleSection,
    Paragraph,
    CodeField,
    SubTitle
  },
  data: () => ({
    overViewInformation:
      "Test cases created intending to make life easier on programmers. There is no need to code simple tests only type the relevant data and it will be created for you.",
    testCaseExample: `{
   "inputOfFunction" : "[1,1]", 
   "functionOutput" : 2, 
   "testName": "Is Sum Working", 
   "functionName": "Sum"
}
`,
    testCaseStructure: `{
    "inputOfFunction": [String],
    "functionOutput": String,
    "testName": String,
    "functionName": String
}`,
    testCaseCodeExample: `describe("Generated Test", function() { 
    it("Is Sum Working", function() 
    {
        Test.assertEquals(Sum(1, 1), 2); 
    }); 
});`
  })
};
</script>

