<template>
  <v-container>
    <v-row>
      <v-col lg="12" md="12" sm="12">
        <PageTitleSection title="Technologies" subtitle="Learn about Test Auto technologies" />
      </v-col>
    </v-row>

    <v-row class="pa-2" align="start" style="height: 200px;">
      <v-col class="pa-2" lg="2" md="2" sm="2" align="center">
        <v-img contain height="150px" width="150px" src="@/assets/TechIcons/infer.png"></v-img>
      </v-col>
      <v-col class="pa-2" lg="2" md="2" sm="2" align="center">
        <v-img contain height="150px" width="150px" src="@/assets/TechIcons/coala.png"></v-img>
      </v-col>
      <v-col class="pa-2" lg="2" md="2" sm="2" align="center">
        <v-img contain height="150px" width="150px" src="@/assets/TechIcons/jshint.png"></v-img>
      </v-col>
      <v-col class="pa-2" lg="2" md="2" sm="2" align="center">
        <v-img height="150px" width="150px" contain src="@/assets/TechIcons/graudit.jpg"></v-img>
      </v-col>
      <v-col class="pa-2" lg="2" md="2" sm="2" align="center">
        <v-img contain height="150px" width="150px" src="@/assets/TechIcons/pmd.png"></v-img>
      </v-col>
      <v-col class="pa-2" lg="2" md="2" sm="2" align="center">
        <v-img contain height="150px" width="150px" src="@/assets/TechIcons/codewars.png"></v-img>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PageTitleSection from "../../PagesComponents/PageTitleSection";
export default {
  name: "UsedTechnologies",
  components: {
    PageTitleSection
  }
};
</script>
 