<template>
  <v-app style="background-color: rgb(48,49,51,1);">
    <v-app-bar app dark dense width="100%" class="text-centered">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="@/assets/logo.png"
          transition="scale-transition"
          width="40"
        />
      </div>
      <v-toolbar-title class="font-weight-bold ml-2" @click="currentPage = 0">Test Auto</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn text class="subtitle-2" to="/Run-tests">Test check</v-btn>
        <v-btn text class="subtitle-2" to="/">Start Testing</v-btn>
        <v-btn text class="subtitle-2" to="/Documentation">Documentation</v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},
  data: () => ({
    currentPage: 0
  })
};
</script>
